/* Variables personalizadas */
:root {
  --main-white: #ffffff; /* blanco */
  --main-peach: #ffdab9; /* Peach Fuzz */
  --main-red: #e74c3c; /* rojo */
  --main-blue: #3498db; /* azul */
  --main-gray: #95a5a6; /* gris */
  --main-black: #000000; /* negro */
}

/* Reset de estilos base */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing y tamaño de fuente */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Establecer tamaño de fuente para cálculos rem */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Estilos base */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-gray);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--main-white); /* Letras blancas */
  text-shadow: 2px 2px 0 var(--main-black); /* Contorno negro */
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-gray);
}

img {
  display: block;
  width: 100%;
}

/* Navegación */
.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  color: var(--main-white); /* Cambiar color del texto a blanco */
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-black); /* Fondo negro */
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-white); /* blanco */
  color: var(--main-black); /* Cambiar color del texto a negro */
}



/* Sección de bienvenida */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-white); /* blanco */
  background-image: linear-gradient(62deg, #ffff00 0%, #3498db 100%); /* Amarillo a azul */
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

.web-developer {
  color: #ffff00; /* Amarillo */
  text-shadow: 2px 2px 1px #808080; /* Contorno en gris */
  font-weight: bold; /* Letras más gruesas */
}


/* Sección de lenguajes */
.languages-section {
  text-align: center;
  padding: 2rem 0;
  background: var(--main-black); /* Fondo negro */
  color: var(--main-white); /* Letras blancas */
}

.languages-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.language-item {
  font-size: 4.2rem; /* Tamaño de fuente igual a h2 */
  padding: 1rem 2rem;
  transition: transform 0.3s, color 0.3s; /* Animación de transformación y color */
  margin: 0 1rem;
}

/* Efectos de hover para cada idioma */
#spanish:hover {
  transform: scale(1.1);
  color: #d52b1e; /* Rojo de la bandera de México */
}

#spanish:hover strong {
  color: #006341; /* Verde de la bandera de México */
}

#english:hover {
  transform: scale(1.1);
  color: #b22234; /* Rojo de la bandera de USA */
}

#english:hover strong {
  color: #3c3b6e; /* Azul de la bandera de USA */
}

#portuguese:hover {
  transform: scale(1.1);
  color: #009c3b; /* Verde de la bandera de Brasil */
}

#portuguese:hover strong {
  color: #ffdf00; /* Amarillo de la bandera de Brasil */
}


/* Projects section */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255)); /* Fondo azul degradado */
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transition: transform 0.3s ease-out, background 0.3s ease-out;
  text-decoration: none;
}

.project:hover {
  transform: scale(1.05); /* Agranda el cuadro al pasar el cursor */
  background: var(--main-light-gray); /* Cambia el color de fondo al pasar el cursor */
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: black; /* Color de las letras */
}

.project-title:hover {
  font-weight: bold; /* Negritas al pasar el cursor */
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border: 2px solid black; /* Contorno negro */
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50; /* Cambia el color al pasar el cursor */
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-white); /* Fondo blanco */
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: var(--main-black); /* Letras completamente negras */
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
  color: var(--main-black); /* Letras completamente negras */
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  color: var(--main-black); /* Letras completamente negras */
  text-shadow: 2px 2px 1px var(--main-gray); /* Contorno en gris */
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}



/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-black); /* Fondo negro */
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
  color: var(--main-white); /* Letras blancas */
}

footer i {
  vertical-align: middle;
  color: var(--main-white); /* Iconos blancos */
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

